<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('nav.ejs') %>
    <!-- 
      id : 채팅방 목록의 아이디
      member[0] : 현재 로그인 아이디
      member[1] : 채팅 하고자하는 멤버의 아이디
     -->
    <!-- 
      chatInfo 객체
      _id : 채팅방의 아이디(룸번호)
      member : [0] : 현재 로그인 아이디 / [1] : 글 작성자 아이디

      chat 객체
        실질적인 메시지
      -->
    <div class="members">
      <span class="member"><%= chatInfo.member[0] %></span>
      <span class="member"><%= chatInfo.member[1] %></span>
    </div>
    <div class="detail-bg">
      <div class="chat-screen">
        <% for(let c of chat) { %>
        <span class="member"><%= c.who %></span>
        <div class="chat-box">
          <span><%= c.content %></span>
        </div>
        <span class="date"><%= c.date %></span>
        <hr />
        <% } %>
      </div>
    </div>
    <div class="chat-form">
      <input class="chat-input" />
      <button class="chat-button">전송</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/socket.io@4.7.2/client-dist/socket.io.min.js"></script>
    <script>
      const sendMsg = document.querySelector(".chat-button");

      const socket = io();

      socket.emit("ask-join", "<%= chatInfo._id %>");
      sendMsg.addEventListener("click", () => {
        let msg = document.querySelector(".chat-input").value;
        socket.emit("message-send", { room: "<%= chatInfo._id %>", msg });
        //socket.emit('key', 'socket 룸 번호', value)
      });

      socket.on("message-broadcast", data => {
        document.querySelector(".chat-screen").insertAdjacentHTML(
          "beforeend",
          `
          <div class="chat-box">
            <span class="member">${data.who}</span>
            <span>${data.content}</span>
            <span class="date">${data.date}</span>
          </div>
           <hr />
          `
        );
      });
    </script>
  </body>
</html>
<!-- 
  1. 채팅방 상세페이지 들어가면 -> 해당 유저를 room에 넣어줌.
  -> 해당 유저를 room 넣어줌

  2. 유저가 글을 적고 전송버튼 누르면 서버에게 이 메시지를 특정 room에 

  3. 서버는 그 메세지를 받으면 그 room에만 메시지 뿌리기

-->
