<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('nav.ejs') %>
    <!-- 
      id : 채팅방 목록의 아이디
      member[0] : 현재 로그인 아이디
      member[1] : 채팅 하고자하는 멤버의 아이디
     -->

    <p><%= result._id %></p>
    <p><%= result.member[0] %></p>
    <p><%= result.member[1] %></p>
    <div class="detail-bg">
      <div class="chat-screen">
        <div class="chat-box"><span>안녕하세요</span></div>
        <div class="chat-box"><span>안녕하세요</span></div>
        <div class="chat-box mine"><span>안녕하세요</span></div>
      </div>
    </div>
    <div class="chat-form">
      <input class="chat-input" />
      <button class="chat-button">전송</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/socket.io@4.7.2/client-dist/socket.io.min.js"></script>
    <script>
      const socket = io();

      socket.emit("ask-join", "<%= result._id %>");

      document.querySelector(".chat-button").addEventListener("click", () => {
        let content = document.querySelector(".chat-input").value;

        socket.emit("message-send", { content, room: "<%= result._id %>" });
      });

      socket.on("message-broadcast", async data => {
        console.log(data);
        document
          .querySelector(".chat-screen")
          .insertAdjacentHTML(
            "beforeend",
            `<div class="chat-box min"> <span>${data}</span> </div>`
          );
      });
    </script>
  </body>
</html>
<!-- 
  1. 채팅방 상세페이지 들어가면 -> 해당 유저를 room에 넣어줌.
  -> 해당 유저를 room 넣어줌

  2. 유저가 글을 적고 전송버튼 누르면 서버에게 이 메시지를 특정 room에 

  3. 서버는 그 메세지를 받으면 그 room에만 메시지 뿌리기

-->
