<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>list๐</title>
    <link rel="stylesheet" href="/common.css" />
    <link rel="stylesheet" href="/detail.css" />
  </head>
  <body>
    <%- include ('./nav.ejs') %>

    <section class="sec">
      <div class="inner">
        <h1><%= postOne.userId %> ๋์ ๊ธ</h1>
        <div class="list-box">
          <% if(!postOne) { %>
          <h2>์ค๋ฅ ๋ฐ์ <a href="/list">๋์๊ฐ๊ธฐ</a></h2>
          <% } else{ %>
          <h2 class="title"><%= postOne.title %></h2>
          <p class="userId">
            <strong>์์ฑ์ : <%= postOne.userId %></strong>
          </p>
          <p class="content"><%= postOne.content %></p>
        </div>
        <% } %>

        <form class="form-box" action="/comment" method="POST">
          <div class="inner">
            <% if(loginInfo.userId == null) { %>
            <a href="/login"><span>๋ก๊ทธ์ธ ํ ์ฌ์ฉํ ์ ์์ต๋๋ค.</span></a>
            <input readonly type="text" />
            <% } else { %>
            <span><strong><%= loginInfo.userId %> :</strong></span>
            <input name="parentId" type="hidden" value="<%= postOne._id %>" />
            <input class="content" name="content" type="text" />
            <button>์์ฑ</button>
            <% } %>
          </div>
        </form>

        <div class="comment-wrap">
          <h3>๋๊ธ</h3>
          <% if(!comments) { %>
            <div class="comment-box">
            <p>์์ฑ๋ ๋๊ธ์ด ์์ต๋๋ค.</p>
            </div>
            <% } else{ %> 
              <% for(let com of comments) { %>
                <div class="comment-box">
                  <h3><%= com.writer %></h3>
                  <p><%= com.content %></p>
               </div>
            <% } %> <% }%>
        </div>
      </div>
    </section>
  </body>
</html>
