<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/login.css">
</head>
<body>
    <div class="inner container-fluid m-0 px-5 mt-5 d-flex justify-content-center">
        <fieldset class="px-5 py-3">
            <div class="title-wrap row pt-2">
                <h1 class="title my-3"><%= user.username %>님의 정보</h1>
            </div>
            <button class="close p-1">
                <a href="/page/<%= user.id %>">
                    <i class="bi bi-x"></i>
                </a>
            </button>
            <form>
                <div class="content-wrap row">
                    <input type="text" id="username" name="useranme" class="p-2" placeholder="아이디" value="<%= user.username %>"/>
                    <input type="password" id="password" name="password" class="p-2" placeholder="비밀번호" value="<%= user.password %>"/>
                    <input type="text" id="phoneNum" name="phoneNum" class="p-2" placeholder="tel" value="<%= user.phoneNum %>"/>
                    <p id="errormessage"></p>
                    <div class="btn-wrap">
                        <input type="button" class="join-btn btn p-2" data-id="<%= user.id %>" value="완료">
                        <input type="button" class="cancle-btn btn p-2" data-id="<%= user.id %>" value="취소">
                        <input type="button" id="del-btn" class="btn" calss="btn" data-id="<%= user.id %>" value="회원 탈퇴">
                    </div>
                </div>
            </form>
        </fieldset>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="/js/userEdit.js"></script>
</body>
</html>