<% let thisDate = new Date(member.birthday) %>
<% let yyyy = thisDate.getFullYear() %>
<% let mm = ('0' + (thisDate.getMonth()+1)).slice(-2) %>
<% let dd = ('0' + thisDate.getDate()).slice(-2) %>
<% const birthday = `${yyyy}-${mm}-${dd}` %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="/main.css">
</head>
<body>

  <%- include('header') %>
  <section class="sec member">
    <div class="container">
      <h2 class="title">Member Info Edit</h2>
      <div class="row">
        <div class="col">
          <form action="/edit" method="post">
          <!-- 데이터 추가하기 -->
          <table>
            <tr>
              <th class="col"><label for="addId">ID</label></th>
              <td class="name"><input type="text" id="addId" name="id" value="<%= member.id %>" readonly></td>
            </tr>
            <tr>
              <th class="col"><label for="addName">Name</label></th>
              <td class="name"><input type="text" id="addName" name="name" value="<%= member.name %>"></td>
            </tr>
            <tr>
              <th class="col"><label for="addTeam">team</label></th>
              <td class="team"><input type="text" id="addTeam" name="team" value="<%= member.team %>"></td>
            </tr>
            <tr>
              <th class="col"><label for="addPosition">position</label></th>
              <td class="position"><input type="text" id="addPosition" name="position" value="<%= member.position %>"></td>
            </tr>
            <tr>
              <th class="col" ><label for="addEmail">Email</label></th>
              <td class="email"><input type="text" id="addEmail" name="emailAddress" value="<%= member.emailAddress %>"></td>
            </tr>
            <tr>
              <th class="col"><label for="addPhone">phone</label></th>
              <td class="phone"><input type="text" id="addPhone" name="phoneNumber" value="<%= member.phoneNumber %>"></td>
            </tr>
            <tr>
              <th class="col"><label for="addBirthday">birthday</label></th>
              <td class="birthday"><input type="date" id="addBirthday" name="birthday" value="<%= birthday %>"></td>
            </tr>
          </table>
          <div class="btn-wrap">
            <button class="ok" type="button" data-id="<%= member.id %>">확인</button>
            <button class="cancle" type="reset">취소</button>
          </div>
        </form>
        </div>
      </div>
    </div>
  </section>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="/js/edit.js"></script>
</body>
</html>