<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>team</th>
            <th>position</th>
            <th>emailAddress</th>
            <th>phoneNumber</th>
            <th>admissionDate</th>
            <th>birthday</th>
        </tr>
        <% for(let i of members) { %>
            <tr>
                <td><%= i.id %></td>
                <td><%= i.name %></td>
                <td><%= i.team %></td>
                <td><%= i.position %></td>
                <td><%= i.emailAddress %></td>
                <td><%= i.phoneNumber %></td>
                <td><%= i.admissionDate.toLocaleDateString() %></td>
                <td><%= i.birthday.toLocaleDateString() %></td>
            </tr>
        <% } %>
    </table>
</body>
</html>